*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(228, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    
    
}
.container{
    max-width: 1000px;
    background-color: rgb(164, 224, 243);
    margin: 0 auto;
    padding: 15px;
}
header{
    
}
.profile-image{
    height: 150px;
    width: 150px;
    border: 5px solid gray;
    box-sizing: border-box;
    border-radius: 50%;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: rgb(0, 0, 0);
    font-style: italic;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}
.div-clear{
    clear: both;
}
hr{
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
/*----------------------
personal section start
-----------------------*/
#personal-section{

}
.content{
    margin-bottom: 30px;

}
.left-div{
    width: 30%;
    float: left;
    
}
.right-div{
    width: 70%;
    float: right;
    text-align: justify;
}
.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;

}
.unorder-list{
    width: 97.5%;
    float: right;
}

/*----------------------
education section start
-----------------------*/
.edu-template-left{
    width: 45%;
    float: left;
}
.edu-template-right{
    width: 45%;
    float: right;
}

/*----------------------
Footer section start
-----------------------*/
.bottom-con{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.bottom-con a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.bottom-con p{
    color: white;
    margin-top: 20px;
}